<div class="list-group">
    <li class="list-group-item  list-group-item-primary bg-primary text-white">
        <i class="fa fa-school"></i><b> Menu:</b></li>
    <a href="{% url 'home' %}" class="list-group-item list-group-item-action list-group-item-light text-primary">
        <i class="fa fa-home"></i> Home </a>
    <a href="{% url 'subjectList' %}" class="list-group-item list-group-item-action list-group-item-light text-primary">
        <i class="fa fa-list"></i> Subject List</a>
    <a href="{% url 'studentList' %}" class="list-group-item list-group-item-action list-group-item-light text-primary">
        <i class="fa fa-list"></i> Students List</a>
    <a href="{% url 'problemList' %}" class="list-group-item list-group-item-action list-group-item-light text-primary">
        <i class="fa fa-list"></i> Problem List </a>
    <a href="{% url 'practicesSelect' %}" class="list-group-item list-group-item-action list-group-item-light text-primary">
        <i class="fa fa-laptop-code"></i></i> Practices Evaluation </a>
    <a href="{% url 'checkResult' %}" class="list-group-item list-group-item-action list-group-item-light text-primary">
        <i class="fa fa-check-double"></i> Check Result </a>
    <hr>
    <a href="{% url 'clearSession' %}" class="list-group-item list-group-item-action list-group-item-light text-primary">
        <i class="fa fa-trash"></i> Clear Session </a>

</div>
