<div class="list-group">
    <li class="list-group-item  list-group-item-primary bg-primary text-white">
        <i class="fa fa-school"></i><b> Menu:</b></li>
    <a href="{% url 'home' %}" class="list-group-item list-group-item-action list-group-item-light text-primary">
            <i class="fa fa-home"></i> Home </a>
    {% if request.session.userName is None %}
        <a href="{% url 'home' %}" class="list-group-item list-group-item-action list-group-item-light text-primary">
            <i class="fa fa-list"></i> Objective </a>
        <a href="{% url 'inputCheckScore' %}" class="list-group-item list-group-item-action list-group-item-light text-primary">
            <i class="fa fa-check-double"></i> Check Practices Score </a>
    {% else %}
        <a href="{% url 'subjectList' %}" class="list-group-item list-group-item-action list-group-item-light text-primary">
            <i class="fa fa-list"></i> Subject List</a>
        <a href="{% url 'studentList' %}" class="list-group-item list-group-item-action list-group-item-light text-primary">
            <i class="fa fa-list"></i> Students List</a>
        <a href="{% url 'problemList' %}" class="list-group-item list-group-item-action list-group-item-light text-primary">
            <i class="fa fa-list"></i> Problem List </a>
        <a href="{% url 'practicesSelect' %}" class="list-group-item list-group-item-action list-group-item-light text-primary">
            <i class="fa fa-laptop-code"></i></i> Practices Evaluation </a>
        <a href="{% url 'inputCheckScore' %}" class="list-group-item list-group-item-action list-group-item-light text-primary">
                <i class="fa fa-check-double"></i> Check Result </a>

        <!--a href="{ url 'clearSession' }" class="list-group-item list-group-item-action list-group-item-light text-primary">
            <i class="fa fa-trash"></i> Clear Session </a> -->
    {% endif %}
</div>
<br>

<div class="list-group">
    <li class="list-group-item list-group-item-success bg-success text-white"><b>
        <i class="fa-solid fa-users-gear"></i> User:</b></li>
    <li class="list-group-item text-success">
        {% if request.session.userName %}
            <i class="fa fa-user"></i> Logged with: [{{ request.session.userName }}] <br>
            <hr class="text-secondary">
            <div class="row">
                <div class="col col-6 text-lg-start">
                </div>
                <div class="col col-6 text-end">
                    <a href="{% url 'userLogout'%}" class="text-lg-end text-danger text-decoration-none">
                        <i class="fa fa-sign-out-alt"></i> Log out</a>
                </div>
            </div>
        {% else %}
            <i class="fa fa-user"></i> Logged with: [Guest] <br>
            <hr class="text-secondary">
            <p class="text-end">
                <a href="{% url 'userLogin' %}" class="text-lg-end text-success">
                     <i class="fa fa-sign-in-alt"></i>Log in</a>
            </p>
        {% endif %}
    </li>
</div>
