{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br><br><br>
    <div class="row">
        <div class="col col-3"> <br> </div>
        <div class="col col-6 bg-primary text-center">
            <h3 class="text-white">User Log In</h3>
            <form method="POST" class="form-control">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Login" class="btn btn-primary">
                <input type="reset" value="Reset" class="btn btn-danger">
            </form>
        </div>
        <div class="col col-3"> <br> </div>
    </div>

{% endblock %}